environment:
  matrix:
    - ruby_version: "200"

clone_folder: c:\projects\blog
clone_depth: 1
skip_tags: true
branches:
  only:
    - master

cache:
  - C:\Ruby200\lib\ruby\gems\2.0.0
  - C:\Ruby200\bin
  - C:\Ruby22\bin
  - C:\Ruby22\lib\ruby\gems\2.2.0

install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - echo %PATH%
  - ruby --version
  - gem install bundler --quiet --no-ri --no-rdoc || gem install bundler --quiet --no-ri --no-rdoc || gem install bundler --quiet --no-ri --no-rdoc
  - gem --version
  - bundler --version

build_script:
  - bundle install || bundle install || bundle install
  - bundle exec jekyll build
  - cd _site
  - 7z a -tzip c:\projects\blog\deploy.zip .\
  - cd ..
  - appveyor PushArtifact deploy.zip -Type WebDeployPackage

deploy:
- provider: WebDeploy
  server: https://stevenmurawski.scm.azurewebsites.net:443/msdeploy.axd?site=stevenmurawski
  website: stevenmurawski
  username: $stevenmurawski
  password:
    secure: D7J8hUxui5QdUfZdV3KExmTDHJXzzrpz6kwMy0M9Ph4NIL1CinfnneEb4jN8e4XpOY3lA732m1cxsqYJp7F+Zw==
  remove_files: true
