<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
          <rules>
            <rule name="Rewrite month to dd">
              <match url="^powershell/(\d{4})/(\d)/(.*)" />
              <action type="Redirect" url="powershell/{R:1}/0{R:2}/{R:3}/index.html" />
            </rule>
            <rule name="Rewrite squarespace feed to jekyll feed">
              <match url="^powershell" />
              <conditions>
                  <add input="{QUERY_STRING}" pattern="^format=RSS$" />
              </conditions>
              <action type="Redirect" url="feed.xml" appendQueryString="false" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>

