<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
          <rules>
            <rule name="Zoom">
              <match url="^zoom$" />
                <action type="Redirect" url="https://chef.zoom.us/j/4380002274" />
            </rule>
            <rule name="Rewrite month to dd">
              <match url="^powershell/(\d{4})/(\d)/(.*)$" />
              <action type="Redirect" url="powershell/{R:1}/0{R:2}/{R:3}/index.html" />
            </rule>
            <rule name="Rewrite squarespace feed to jekyll feed">
              <match url="^powershell" />
              <conditions>
                  <add input="{QUERY_STRING}" pattern="^format=RSS$" />
              </conditions>
              <action type="Redirect" url="feed.xml" />
            </rule>
            <rule name="Github">
              <match url="^github(/.*)$" />
                <action type="Redirect" url="https://github.com/smurawski{R:1}" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>

