<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Rewrite month to dd">
                    <match url="^powershell/(\d{4})/(\d)/(.*)$" />
                    <action type="Redirect" url="powershell/{R:1}/0{R:2}/{R:3}/index.html" />
                </rule>
                <rule name="Rewrite squarespace feed to hugo feed">
                    <match url="^powershell" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^format=RSS$" />
                    </conditions>
                    <action type="Redirect" url="index.xml" />
                </rule>
                <rule name="Rewrite jekyll feed to hugo feed">
                    <match url="^feed.xml" />
                    <action type="Redirect" url="index.xml" />
                </rule>
                <rule name="Github">
                    <match url="^github/(.*)$" />
                    <action type="Redirect" url="https://github.com/smurawski/{R:1}" />
                </rule>
                <rule name="Github-base">
                    <match url="^github$" />
                    <action type="Redirect" url="https://github.com/smurawski" />
                </rule>
                <rule name="LoECDA">
                    <match url="^loecda$" />
                    <action type="Redirect" url="http://leagueofextraordinaryclouddevopsadvocates.com" />
                </rule>
                <rule name="About">
                    <match url="^about$" />
                    <action type="Redirect" url="page/about" />
                </rule>
                <rule name="About-index">
                    <match url="^about/index.html$" />
                    <action type="Redirect" url="page/about" />
                </rule>
                <rule name="Reading">
                    <match url="^devops-reading-list$" />
                    <action type="Redirect" url="page/devops-reading-list" />
                </rule>
                <rule name="reading-index">
                    <match url="^devops-reading-list/index.html$" />
                    <action type="Redirect" url="page/devops-reading-list" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>